services:
  backend:
    build:
      context: ./backend
      dockerfile: Docker/Dockerfile.backend
    ports:
      - "5000:5000"
    depends_on:
      - db

  frontend:
    build:
      context: ./frontend
      dockerfile: Docker/Dockerfile.frontend
    ports:
      - "3000:5173"
    depends_on:
      - backend

  db:
    image: postgres:15
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: bookingdb
    ports:
      - "5432:5432"